/* 
This file is for global css that will be applied to the index.html file. 
These styles will NOT be applied to the Shadow DOM root of the custom element.
*/

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
